@import 'variables';

body{
    background: $bg;
    h1, h2, h3, h4, h5, h6{
        color: $blue;
    }
}

.container{
    margin-bottom: 30px;
    text-align: center;
}

.header{
    cursor: pointer;
    margin-top: 30px;
    h1{
        font-weight: 1000;
    }
    h2{
        font-weight: 500;
    }
}

.search{
    input{
        border: 1px solid $blue;
    }
    button{
        border: 1px solid $blue;
        background-color: $blue;
    }
    button:hover{
        background-color: $alternative_blue;
    }
}

.results{
    padding-left: 15px;
    padding-right: 15px;
    ul{
        list-style-type: none;
        padding-left: 0;
    }
    li{
        padding: .5rem 1rem;
    }
    .instructions{
        margin-top: 70px;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 25px;
    }
    .aqi-value{
        font-size: 70px;
        color: black;
    }
    .aqi{
        margin-bottom: 30px;
    }
    .level{
        margin-bottom: 30px;
    }
    .aqi-level-value{
        color: black;
    }
    .aqi-emoji-value{
        font-size: 50px;
    }
    .par{
        padding: .15rem;
    }
    .par-name{
        font-size: 17px;
    }
    .par-value{
        font-size: 20px;
        font-weight: 600;
    }
}